//Card Display
.cardDisplayContainer { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
}

.cardContainer img {
    max-width: 100%
}

.movieContainer {
    width: 100%;
    background: white;
    padding: 10px;
    position: relative;
}

img {
    width: 100%;
}

.bodyCardRating {
    position: absolute;
    top: 1px;
    right: 15px;
    background-color: $primaryAccent;
    color: $primaryBackground;
    padding: 4px;
    border: 1px solid $primaryBackground;
    border-radius: 5px;
}

.bodyCardTitle {
    text-align: center;
}