//Card Display
.cardDisplayContainer { 
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(220px, 300px));
	grid-gap: 10px;
	background-color: $primaryWhite;
	padding: 5px;
}

.movieContainer {
	position: relative;
	background-color: $tertiaryBackground;
	border-radius: 5px;
	border: 2px solid $primaryWhite;

		img {
			max-height: 85%;
		}

		a {
			height: 100%;
			display: grid;
			grid-template-rows: 85% 0% 15%
		}
}

.movieContainer:focus,
.movieContainer:hover {
	border: 2px solid $primaryAccent;
}

.bodyCardRating {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: $primaryAccent;
	color: $primaryBackground;
	padding: 4px;
	border: 1px solid $primaryBackground;
	border-radius: 5px;
	margin: 0;
}

.bodyCardTitle {
	@include fontSize(9);
	text-align: center;
	color: $primaryBlack;
	margin: 0;
	align-self: center;
}

.loadMoreResults {
	min-height: 5vh;
	height: 50px;
	width: 100%;
	grid-column: 2 / 3 ;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $primaryWhite;

		button {
			@include fontSize(9);
			font-weight: 700;
			background-color: $primaryAccent;
			border: 1px solid $primaryBlack;
			color: $primaryBackground;
			border-radius: 5px;
			padding: 5px 0;
			width: 33%;
		}

		button:hover,
		button:focus {
			background-color: $primaryWhite;
			color: $primaryAccent;
		}
}