//Card Display
.cardDisplayContainer { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    grid-gap: 10px;
    background-color: $primaryWhite;
    padding: 5px;
}

.cardContainer img {
    max-width: 100%
}

.movieContainer {
    position: relative;
    width: 100%;
    background-color: $tertiaryBackground;
    border-radius: 5px;
}
                                                                                
.movieContainer:focus,
.movieContainer:hover {
    border: 2px solid $primaryAccent;
}

.bodyCardRating {
    position: absolute;
    top: 1px;
    right: 15px;
    background-color: $primaryAccent;
    color: $primaryBackground;
    padding: 4px;
    border: 1px solid $primaryBackground;
    border-radius: 5px;
}

.bodyCardTitle {
    @include fontSize(9);
    text-align: center;
    color: $primaryBlack;
    margin: 10px 0;
}