body {
    background: $secondaryBackground;
    color: $primaryWhite;
    font-size: 62.5%;
    font-family: $primaryFont;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

h4 {
    @include fontSize(8);
}

.App {
    min-height: 100vh;
}