header {
    position: relative;
    background: $primaryBackground;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-height: 10vh;
}

.mainTitle {
    font-family: $secondaryFont;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    @include fontSize(35);
    margin: 0 10px;
}

.createListBtn {
    @include fontSize(8);
    background: $primaryAccent;
    border: 2px solid black;
    color: $primaryBackground;
    border-radius: 25px;
    padding: 5px;
    height: 26px;
    font-family: $primaryFont;
    font-weight: 700;
    text-transform: uppercase;
    width: 100px;
    height: 40px;
}

.createListBtn:hover{
    background: $primaryWhite;
    color: $primaryAccent;
}

.loggedIn {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: center;

    p {
        @include fontSize(10);
        font-weight: 600;
        margin: 10px;
    }
}