.listDisplayHeader {
  display: flex;
  height: 5vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: $primaryWhite;
  border-bottom: 3px solid $primaryBackground;
  text-transform: capitalize;

  a {
    margin-left: 10px;
  }
}

.listDisplay {
	display: grid;
  grid-template-columns: 1fr;
	background-color: $secondaryBackground;
  min-height: 85vh;
}