//Side Bar Styles
.showGeneratorContainerExpanded,
.showGeneratorContainerContracted {
	display: grid;
	grid-template-columns: 135px 1fr;
	background-color: $secondaryBackground;
	min-height: 85vh;
}

.showGeneratorContainerContracted {
	grid-template-columns: 50px 1fr;
}

.searchBox {
	@include fontSize(10);
	width: 100%;
	background: $primaryWhite;
	border: none;
	color: #577F90;
	border-radius: 10px;
	font-family: $primaryFont;
	text-align: center;
	padding: 3px;
}

.sideBarBtn,
.clearButton {
	@include fontSize(8);
	width: 75%;
	background: $primaryAccent;
	border: 1px solid $primaryBlack;
	color: $primaryBackground;
	border-radius: 5px;
	padding: 5px;
	min-height: 26px;
	font-family: $primaryFont;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 5px;

		&:hover{
			background: $primaryWhite;
			color: $primaryAccent;
		}
}

.searchForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.queryContainer {
	position: sticky;
	top: 60px;
	padding: 0 5px;
	display: grid;
	align-content: flex-start;
	min-height: calc(85vh - 15px);
	grid-gap: 20px;
	padding: 0px 10px;

	input,
	select {
			width: 100%;
		}
}

.criteriaContainer {
	display: grid;

	label {
		margin-top: 5px;
	}

	button {
		justify-self: center;
		margin-top: 5px;
	}
}

.languageContainer,
.sortByContainer {
	@include fontSize(9);
	color: $tertiaryBackground;
	border-radius: 25px;
	font-family: $primaryFont;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
}

.listDelete {
	background-color: $primaryAccent;
	border: 1px solid $primaryBackground;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

.expandArrow,
.expandContainer {
	position: sticky;
	top: 10px;
}

.expandArrow {
	max-height: 50px;
	width: 100%;
}

.sidebarContracted,
.sidebarExpanded {
	background-color: $secondaryBackground;
}

.sidebarContracted {
	max-width: 75px;
	min-height: 90vh;
	transition: .33s ease;
}

.sidebarExpanded {
	max-width: 175px;
	padding-top: 10px;
	min-height: calc(80vh - 15px);
	transition: .33s ease;
}

.userListContainer {
	display: flex;
	flex-direction: column;
	align-items: center;

	ul {
		max-width: 140px;
		margin-top: 20px;
		max-height: 25vh;
		overflow-y: scroll;

		scrollbar-width: thin;
		scrollbar-color: $primaryBackground transparent;
		scroll-margin-left: 10px;
		padding-right: 3px;
	}

	li {
		display: grid;
		grid-template-columns: auto auto;
		justify-content: space-between;
		align-items: center;
		margin: 5px 0;
	}

	h2 {
		@include fontSize(12);
	}

	p {
		@include fontSize(10);
		max-width: 90px;
		word-wrap: break-word;
		margin: 2px 0;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}