//Side Bar Styles
.showGeneratorContainer {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.searchBox {
    @include fontSize(10);
    width: 100%;
    background: $primaryWhite;
    border: none;
    color: #577F90;
    border-radius: 10px;
    font-family: $primaryFont;
    text-align: center;
    padding: 3px;
}

.sideBarSearchBtn {
    @include fontSize(8);
    width: 75%;
    background: $primaryAccent;
    border: 1px solid $primaryBlack;
    color: $primaryBackground;
    border-radius: 5px;
    padding: 5px;
    height: 26px;
    font-family: $primaryFont;
    font-weight: 700;
    text-transform: uppercase;
}

.sideBarSearchBtn:hover{
    background: white;
    color: $primaryAccent;
}

.queryContainer {
    position: sticky;
    top: 10px;
    padding: 0 10px;
}

.criteriaContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.languageContainer,
.sortByContainer {
    @include fontSize(9);
    color: $tertiaryBackground;
    border-radius: 25px;
    font-family: $primaryFont;
    font-weight: 700;
    text-transform: uppercase;
}

.firebase-data h1 {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: $primaryFont;
    margin-left: 30px;
}

.firebase-data p {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin: 0;
    margin-left: 30px;
    padding: 0;
}
.firebase-data ul {
    margin: 0;
    padding: 0;
}

.listDelete {
    margin-left: 30px;
}

.expandArrow {
	max-height: 50px;
	width: 100%;
}

.sidebarContracted {
    position: sticky;
    top: 0;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.sidebarExpanded {
    max-width: 150px;
    padding-top: 10px;
}