.userListContainer {
    display: flex;
    flex-direction: column;
    text-align:center;
    align-items: center;
    padding-top: 20px;
}

.userListImage {
    box-shadow: 15px 15px $primaryBackground;
    margin-bottom: 5px;
    width: 60%;
}

.userCardTitle {
    font-size: 2rem;
    text-transform: uppercase;
}

.userCardRating {
    font-size: 1.25rem;
}