// variables
	$primaryBlack: #040405;
	$primaryWhite: #FDFDFD;

	$primaryBackground: #2d3142;
	$secondaryBackground: #4f5d75;
	$tertiaryBackground: #bfc0c0;
	
	$primaryAccent: #ef8354;
	$secondaryAccent: #4A455C;

	$primaryFont: 'Cormorant Garamond', serif;
	$secondaryFont:'Montserrat', sans-serif;

	$anchorTagHoverFocus: 'a:focus, a:hover';

	$primaryFont: 'Montserrat', sans-serif;
	$secondaryFont: 'Lobster', cursive;

	@mixin fontSize($sizeValue){
			font-size: $sizeValue * 1px;
			font-size: ($sizeValue/10) * 1rem;
	}

	@mixin flexCenter() {
			display: grid;
			justify-items: center;
			align-items: center;
	}

/* 	$primaryBackground: #577F90;
	$secondaryBackground: #86C2AE;
	$tertiaryBackground: #FFF0E7;
	
	$primaryAccent: #F0917A;
	$secondaryAccent: #4A455C */;

/* #2d3142
#4f5d75
#bfc0c0
#ef8354 */
